# Python
venv/
__pycache__/
*.pyc

# IDE Settings
.vscode/
.idea/

# Data & Logs (Data klasöründeki içerikleri yollama)
data/logs/*
!data/logs/.gitkeep
data/*.db

# Generated Reports (Raporları yollama)
static/reports/*
!static/reports/.gitkeep

# Sensitive Info
.env
.config
